adfdevlkd/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevlkd"
		},
		"LS_ADF_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ADF_SQLSERVER'"
		},
		"LS_CHILD_MAX_KEY_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_CHILD_MAX_KEY'"
		},
		"LS_CHILD_SS_MAXVALUE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_CHILD_SS_MAXVALUE'"
		},
		"LS_LKUP_MAXVALUE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LKUP_MAXVALUE'"
		},
		"LS_LKUP_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LKUP_SQLSERVER'"
		},
		"LS_MAX_WATERMRK_COLMN_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_MAX_WATERMRK_COLMN'"
		},
		"LS_MIGRT_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_MIGRT_SQLSERVER'"
		},
		"LS_OnPrem_SqlServer_DW_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_OnPrem_SqlServer_DW'"
		},
		"LS_PARENT_SS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_PARENT_SS'"
		},
		"LS_PARENT_SS_MGRT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_PARENT_SS_MGRT'"
		},
		"LS_SQLSERVER_ADLS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER_ADLS'"
		},
		"LS_SQLSERVER_PARQUET_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER_PARQUET'"
		},
		"LS_SQL_MIGRATION_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_MIGRATION'"
		},
		"LS_ADF_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_ADF_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_ADF_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_CHILD_MAX_KEY_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_CHILD_MAX_KEY_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_CHILD_MAX_KEY_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_CHILD_SS_MAXVALUE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_CHILD_SS_MAXVALUE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_CHILD_SS_MAXVALUE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_KeyVault_SqlServer_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_KeyVault_SqlServer_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_KeyVault_SqlServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_LKUP_MAXVALUE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_LKUP_MAXVALUE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_LKUP_MAXVALUE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_LKUP_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_LKUP_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_LKUP_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_MAX_WATERMRK_COLMN_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_MAX_WATERMRK_COLMN_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_MAX_WATERMRK_COLMN_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_MIGRT_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_MIGRT_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_MIGRT_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_OnPrem_SqlServer_DW_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_OnPrem_SqlServer_DW_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_OnPrem_SqlServer_DW_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_PARENT_SS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_PARENT_SS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_PARENT_SS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_PARENT_SS_MGRT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_PARENT_SS_MGRT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_PARENT_SS_MGRT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_SQLSERVER_ADLS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_SQLSERVER_ADLS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_SQLSERVER_ADLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_SQL_MIGRATION_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_SQL_MIGRATION_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_SQL_MIGRATION_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALES_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALES_CSV_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "csv",
						"fileSystem": "outputmultifiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sink_AKV_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Sink_AKV_Parquet",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SqlTable_Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SqlTable_Parquet1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().Table_Name,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().Table_Name,'/',formatDateTime(utcNow(),'yyyy/MM/dd'))",
							"type": "Expression"
						},
						"fileSystem": "retaildw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADF_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service adf to sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_ADF_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_ADF_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ADF_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ADF_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CHILD_MAX_KEY')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service max key",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_CHILD_MAX_KEY_properties_typeProperties_server')]",
					"database": "[parameters('LS_CHILD_MAX_KEY_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_CHILD_MAX_KEY_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_CHILD_MAX_KEY_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CHILD_SS_MAXVALUE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child linked service to get water mark max value",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_CHILD_SS_MAXVALUE_properties_typeProperties_server')]",
					"database": "[parameters('LS_CHILD_SS_MAXVALUE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_CHILD_SS_MAXVALUE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_CHILD_SS_MAXVALUE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KeyVault_SqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service key vault Sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_KeyVault_SqlServer_properties_typeProperties_server')]",
					"database": "[parameters('LS_KeyVault_SqlServer_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_KeyVault_SqlServer_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV_SQLSERVER",
							"type": "LinkedServiceReference"
						},
						"secretName": "Password"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LKUP_MAXVALUE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage max value",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_LKUP_MAXVALUE_properties_typeProperties_server')]",
					"database": "[parameters('LS_LKUP_MAXVALUE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LKUP_MAXVALUE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LKUP_MAXVALUE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LKUP_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service look up sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_LKUP_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_LKUP_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LKUP_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LKUP_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MAX_WATERMRK_COLMN')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage watermark column",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_MAX_WATERMRK_COLMN_properties_typeProperties_server')]",
					"database": "[parameters('LS_MAX_WATERMRK_COLMN_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_MAX_WATERMRK_COLMN_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_MAX_WATERMRK_COLMN_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MIGRT_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service migrate sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_MIGRT_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_MIGRT_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_MIGRT_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_MIGRT_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_OnPrem_SqlServer_DW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service on premises sql server datawarehouse",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_OnPrem_SqlServer_DW_properties_typeProperties_server')]",
					"database": "[parameters('LS_OnPrem_SqlServer_DW_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_OnPrem_SqlServer_DW_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_OnPrem_SqlServer_DW_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PARENT_SS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service parent sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_PARENT_SS_properties_typeProperties_server')]",
					"database": "[parameters('LS_PARENT_SS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_PARENT_SS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_PARENT_SS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PARENT_SS_MGRT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service sql server migration to ADLS",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_PARENT_SS_MGRT_properties_typeProperties_server')]",
					"database": "[parameters('LS_PARENT_SS_MGRT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_PARENT_SS_MGRT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_PARENT_SS_MGRT_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service sqlserver to adls",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_ADLS_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_ADLS_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_ADLS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_ADLS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_PARQUET_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_MIGRATION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service sql migration",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_MIGRATION_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_MIGRATION_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_MIGRATION_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_MIGRATION_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_SP_WATERMARK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to update watermark table",
				"activities": [
					{
						"name": "SP_UpdateWatermark",
						"description": "Stored procedure to update water mark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]",
							"storedProcedureParameters": {
								"TableSchema": {
									"value": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"WatermarkColumn": {
									"value": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_OnPrem_SqlServer_DW",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-12T14:37:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_OnPrem_SqlServer_DW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_GMD_SALES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GMD_SALES",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_GMD_SALES",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter_Sales",
						"description": "Filter sales",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GMD_SALES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GMD_SALES').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'Sales')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CPY_Filter_Sales",
						"description": "copy sales from Filter",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter_Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter_Sales').output.value[0].name\n",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_FILTER_SALES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SALES_CSV_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-10T13:08:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SALES_CSV_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LKUP_FILTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline look up filter",
				"activities": [
					{
						"name": "LKPUP_ADLS",
						"description": "Look up ADLS",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_LKUP_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter_ADLS",
						"description": "Filter ADLS",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "LKPUP_ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKPUP_ADLS').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().SIC_Code,'1110')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-10T12:20:07Z"
			},
			"dependsOn": []
		}
	]
}