pipeline/PL_CHILD_MAX_SS.json
{
	"name": "PL_CHILD_MAX_SS",
	"properties": {
		"description": "Child pipeline to get max watermark value",
		"activities": [
			{
				"name": "LKUP_Child_Maxvalue",
				"description": "Child look up to get max value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CHILD_SS_MAXVALUE",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "@pipeline().parameters.TableSchema",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IF_NEW_RECORD_EXISTS",
				"description": "IF to check of new record exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_Child_Maxvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    equals(pipeline().parameters.LastLoadValue, null),\n    greater(\n        int(activity('LKUP_Child_Maxvalue').output.firstRow.MaxValue),\n        int(pipeline().parameters.LastLoadValue)\n    )\n)\n\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY_SQLSERVER_ADLS",
							"description": "Copy sql server to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName,\n    if(\n        equals(pipeline().parameters.LastLoadValue, null),\n        '', \n        concat(\n            ' WHERE ', pipeline().parameters.WatermarkColumn,\n            ' > ''', pipeline().parameters.LastLoadValue, ''''\n        )\n    )\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CHILD_SS_MAXVALUE",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SqlTable_Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Exec_PL_SP_Update",
							"description": "Execute pipeline stored procedure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "COPY_SQLSERVER_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILD_SP_WATERMARK",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-12T17:36:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}