pipeline/PL_MF_SWITCH.json
{
	"name": "PL_MF_SWITCH",
	"properties": {
		"description": "Pipe line mutlifiles using switch",
		"activities": [
			{
				"name": "Get MD_SWITCH",
				"description": "Get meta data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GMD_SWITCH",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach_MF_SWITCH",
				"description": "for each mutli files switch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MD_SWITCH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MD_SWITCH').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch_MF",
							"description": "switch mutli files",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@last(split(item().name,'.'))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "txt",
										"activities": [
											{
												"name": "COPY_DATA_ADLS",
												"description": "copy data to ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_CPY_DATA_ADLS",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CPY_DATA_TGT",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "csv",
										"activities": [
											{
												"name": "COPY_CSV_ADLS",
												"description": "Copy csv to ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_CPY_DATA_ADLS",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CPY_CSV_TGT",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "xlsx",
										"activities": [
											{
												"name": "COPY_XLS_ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_CPY_DATA_ADLS",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CPY_XLS_ADLS",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-09T17:09:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}