adfdevlkd/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevlkd"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"LS_ADF_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ADF_SQLSERVER'"
		},
		"LS_ADLS_PARQUET_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_PARQUET'"
		},
		"LS_CHILD_MAX_KEY_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_CHILD_MAX_KEY'"
		},
		"LS_CHILD_SS_MAXVALUE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_CHILD_SS_MAXVALUE'"
		},
		"LS_CPY_CSV_TGT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CPY_CSV_TGT'"
		},
		"LS_CPY_DATA_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CPY_DATA_ADLS'"
		},
		"LS_CPY_DATA_TGT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CPY_DATA_TGT'"
		},
		"LS_CPY_XLS_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CPY_XLS_ADLS'"
		},
		"LS_FILTER_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_FILTER_ADLS'"
		},
		"LS_FILTER_SALES_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_FILTER_SALES'"
		},
		"LS_GMD_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_GMD_ADLS'"
		},
		"LS_GMD_SALES_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_GMD_SALES'"
		},
		"LS_GMD_SWITCH_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_GMD_SWITCH'"
		},
		"LS_LKUP_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_LKUP_ADLS'"
		},
		"LS_LKUP_MAXVALUE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LKUP_MAXVALUE'"
		},
		"LS_LKUP_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LKUP_SQLSERVER'"
		},
		"LS_MAX_WATERMRK_COLMN_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_MAX_WATERMRK_COLMN'"
		},
		"LS_MF_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MF_ADLS'"
		},
		"LS_MF_TGT1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MF_TGT1'"
		},
		"LS_MIGRT_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_MIGRT_SQLSERVER'"
		},
		"LS_Multifiles_TGT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Multifiles_TGT'"
		},
		"LS_Multifiles_TGT1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Multifiles_TGT1'"
		},
		"LS_Multifiles_TGT2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Multifiles_TGT2'"
		},
		"LS_Mutlifiles_SRC_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Mutlifiles_SRC'"
		},
		"LS_Mutlifiles_TGT3_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Mutlifiles_TGT3'"
		},
		"LS_OnPrem_SqlServer_DW_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_OnPrem_SqlServer_DW'"
		},
		"LS_PARENT_SS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_PARENT_SS'"
		},
		"LS_PARENT_SS_MGRT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_PARENT_SS_MGRT'"
		},
		"LS_SALES_CSV_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SALES_CSV_ADLS'"
		},
		"LS_SQLSERVER_ADLS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER_ADLS'"
		},
		"LS_SQLSERVER_PARQUET_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER_PARQUET'"
		},
		"LS_SQL_MIGRATION_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_MIGRATION'"
		},
		"LS_Sales_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Sales_ADLS'"
		},
		"LS_SqlTable_Parquet1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SqlTable_Parquet1'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgaccdevlkd.dfs.core.windows.net/"
		},
		"LS_ADF_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_ADF_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_ADF_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_ADLS_PARQUET_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgaccdevlkd.dfs.core.windows.net/"
		},
		"LS_CHILD_MAX_KEY_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_CHILD_MAX_KEY_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_CHILD_MAX_KEY_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_CHILD_SS_MAXVALUE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_CHILD_SS_MAXVALUE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_CHILD_SS_MAXVALUE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_CPY_CSV_TGT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_CPY_DATA_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_CPY_DATA_TGT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_CPY_XLS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_FILTER_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_FILTER_SALES_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_GMD_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_GMD_SALES_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_GMD_SWITCH_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_LKUP_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_LKUP_MAXVALUE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_LKUP_MAXVALUE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_LKUP_MAXVALUE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_LKUP_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_LKUP_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_LKUP_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_MAX_WATERMRK_COLMN_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_MAX_WATERMRK_COLMN_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_MAX_WATERMRK_COLMN_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_MF_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_MF_TGT1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_MIGRT_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_MIGRT_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_MIGRT_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_Multifiles_TGT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_Multifiles_TGT1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_Multifiles_TGT2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_Mutlifiles_SRC_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_Mutlifiles_TGT3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_OnPrem_SqlServer_DW_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_OnPrem_SqlServer_DW_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_OnPrem_SqlServer_DW_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_PARENT_SS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_PARENT_SS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_PARENT_SS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_PARENT_SS_MGRT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_PARENT_SS_MGRT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"LS_PARENT_SS_MGRT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_SALES_CSV_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_SQLSERVER_ADLS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_SQLSERVER_ADLS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_SQLSERVER_ADLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_SQL_MIGRATION_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"LS_SQL_MIGRATION_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VISIONBOARD"
		},
		"LS_SQL_MIGRATION_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		},
		"LS_Sales_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgacctmultifiles.dfs.core.windows.net/"
		},
		"LS_SqlTable_Parquet1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgaccdevlkd.dfs.core.windows.net/"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-826T6E8O\\SQLEXPRESS"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBMIGDEV"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "lkdvb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_MAX_SS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child pipeline to get max watermark value",
				"activities": [
					{
						"name": "LKUP_Child_Maxvalue",
						"description": "Child look up to get max value",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_CHILD_SS_MAXVALUE",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"tablename": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "IF_NEW_RECORD_EXISTS",
						"description": "IF to check of new record exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LKUP_Child_Maxvalue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(\n    equals(pipeline().parameters.LastLoadValue, null),\n    greater(\n        int(activity('LKUP_Child_Maxvalue').output.firstRow.MaxValue),\n        int(pipeline().parameters.LastLoadValue)\n    )\n)\n\n",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "COPY_SQLSERVER_ADLS",
									"description": "Copy sql server to ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName,\n    if(\n        equals(pipeline().parameters.LastLoadValue, null),\n        '', \n        concat(\n            ' WHERE ', pipeline().parameters.WatermarkColumn,\n            ' > ''', pipeline().parameters.LastLoadValue, ''''\n        )\n    )\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_CHILD_SS_MAXVALUE",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": {
													"value": "@pipeline().parameters.TableSchema",
													"type": "Expression"
												},
												"tablename": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SqlTable_Parquet1",
											"type": "DatasetReference",
											"parameters": {
												"Table_Name": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Exec_PL_SP_Update",
									"description": "Execute pipeline stored procedure",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "COPY_SQLSERVER_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CHILD_SP_WATERMARK",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TableSchema": {
												"value": "@pipeline().parameters.TableSchema",
												"type": "Expression"
											},
											"TableName": {
												"value": "@pipeline().parameters.TableName",
												"type": "Expression"
											},
											"WatermarkColumn": {
												"value": "@pipeline().parameters.WatermarkColumn",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					},
					"LastLoadValue": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-12T17:36:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CHILD_SS_MAXVALUE')]",
				"[concat(variables('factoryId'), '/datasets/DS_SqlTable_Parquet1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_SP_WATERMARK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_SP_WATERMARK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to update watermark table",
				"activities": [
					{
						"name": "SP_UpdateWatermark",
						"description": "Stored procedure to update water mark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]",
							"storedProcedureParameters": {
								"TableSchema": {
									"value": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"WatermarkColumn": {
									"value": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_OnPrem_SqlServer_DW",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-12T14:37:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_OnPrem_SqlServer_DW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_GMD_SALES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GMD_SALES",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_GMD_SALES",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter_Sales",
						"description": "Filter sales",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GMD_SALES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GMD_SALES').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'Sales')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CPY_Filter_Sales",
						"description": "copy sales from Filter",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter_Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter_Sales').output.value[0].name\n",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_FILTER_SALES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SALES_CSV_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-10T13:08:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_GMD_SALES')]",
				"[concat(variables('factoryId'), '/datasets/DS_FILTER_SALES')]",
				"[concat(variables('factoryId'), '/datasets/DS_SALES_CSV_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LKUP_FILTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline look up filter",
				"activities": [
					{
						"name": "LKPUP_ADLS",
						"description": "Look up ADLS",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_LKUP_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter_ADLS",
						"description": "Filter ADLS",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "LKPUP_ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKPUP_ADLS').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().SIC_Code,'1110')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-10T12:20:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_LKUP_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MF_SWITCH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipe line mutlifiles using switch",
				"activities": [
					{
						"name": "Get MD_SWITCH",
						"description": "Get meta data",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_GMD_SWITCH",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach_MF_SWITCH",
						"description": "for each mutli files switch",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get MD_SWITCH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get MD_SWITCH').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Switch_MF",
									"description": "switch mutli files",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@last(split(item().name,'.'))",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "txt",
												"activities": [
													{
														"name": "COPY_DATA_ADLS",
														"description": "copy data to ADLS",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "BinarySource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "BinaryReadSettings"
																}
															},
															"sink": {
																"type": "BinarySink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "DS_CPY_DATA_ADLS",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_CPY_DATA_TGT",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											},
											{
												"value": "csv",
												"activities": [
													{
														"name": "COPY_CSV_ADLS",
														"description": "Copy csv to ADLS",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "BinarySource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "BinaryReadSettings"
																}
															},
															"sink": {
																"type": "BinarySink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "DS_CPY_DATA_ADLS",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_CPY_CSV_TGT",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											},
											{
												"value": "xlsx",
												"activities": [
													{
														"name": "COPY_XLS_ADLS",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "BinarySource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "BinaryReadSettings"
																}
															},
															"sink": {
																"type": "BinarySink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "DS_CPY_DATA_ADLS",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_CPY_XLS_ADLS",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-09T17:09:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_GMD_SWITCH')]",
				"[concat(variables('factoryId'), '/datasets/DS_CPY_DATA_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/DS_CPY_DATA_TGT')]",
				"[concat(variables('factoryId'), '/datasets/DS_CPY_CSV_TGT')]",
				"[concat(variables('factoryId'), '/datasets/DS_CPY_XLS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PARENT_MGRT_SS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Parent Pipeline to migrate sql server data to ADLS",
				"activities": [
					{
						"name": "LKUP_Parent_SS",
						"description": "Lookup parent sql server",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_PARENT_SS_MGRT",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Parent_SS",
						"description": "For each parent sql server",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKUP_Parent_SS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKUP_Parent_SS').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ExecPipeline_parent",
									"description": "Execute pipeline parent",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CHILD_MAX_SS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TableSchema": {
												"value": "@item().TableSchema",
												"type": "Expression"
											},
											"TableName": {
												"value": "@item().TableName",
												"type": "Expression"
											},
											"WatermarkColumn": {
												"value": "@item().WatermarkColumn",
												"type": "Expression"
											},
											"LastLoadValue": {
												"value": "@item().LastLoadValue",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-12T06:24:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PARENT_SS_MGRT')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_MAX_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SP_SQL_MIGRATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_SQL_MIGRATION",
						"description": "Stored procedure sql migration",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertCustomer]",
							"storedProcedureParameters": {
								"CustomerID": {
									"value": "1",
									"type": "Int32"
								},
								"FirstName": {
									"value": "LAXMAN",
									"type": "String"
								},
								"LastName": {
									"value": "DAS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ADF_SQLSERVER",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-03T17:23:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADF_SQLSERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQLSERVER_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test",
				"activities": [
					{
						"name": "PL_SQLSERVER_ADLS",
						"description": "Test",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQLSERVER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PARQUET_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-06T19:30:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQLSERVER')]",
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_mutlifiles_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "get mutlifiles to ADLS",
				"activities": [
					{
						"name": "PL_mutlifiles_adls",
						"description": "get multifiles to ADLS",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_MF_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "PL_mutlifiles_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('PL_mutlifiles_adls').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(item().name,'.csv')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Mutlifiles_SRC",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_MF_TGT1",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "If Condition2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(item().name,'.xlsx')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Mutlifiles_SRC",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Multifiles_TGT2",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "If Condition3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "If Condition2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(item().name,'.txt')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data3",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Mutlifiles_SRC",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Multifiles_TGT3",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T17:13:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_MF_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/DS_Mutlifiles_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_MF_TGT1')]",
				"[concat(variables('factoryId'), '/datasets/DS_Multifiles_TGT2')]",
				"[concat(variables('factoryId'), '/datasets/DS_Multifiles_TGT3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CHILD_SS_MAXVALUE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CHILD_SS_MAXVALUE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CHILD_SS_MAXVALUE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CPY_CSV_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CPY_CSV_TGT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"folderPath": "csv",
						"fileSystem": "outboundswitch"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CPY_CSV_TGT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CPY_DATA_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CPY_DATA_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"fileSystem": "inputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CPY_DATA_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CPY_DATA_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CPY_DATA_TGT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"folderPath": "txt",
						"fileSystem": "outboundswitch"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CPY_DATA_TGT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CPY_XLS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CPY_XLS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"folderPath": "xlsx",
						"fileSystem": "outboundswitch"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CPY_XLS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FILTER_SALES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_FILTER_SALES",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inputmultifiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_FILTER_SALES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_GMD_SALES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_GMD_SALES",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inputmultifiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_GMD_SALES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_GMD_SWITCH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_GMD_SWITCH",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_GMD_SWITCH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_LKUP_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_LKUP_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "data2.csv",
						"fileSystem": "inputmultifiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_LKUP_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MF_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MF_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MF_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MF_TGT1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MF_TGT1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"folderPath": "csv",
						"fileSystem": "outputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MF_TGT1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Multifiles_TGT2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Multifiles_TGT2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"folderPath": "xlsx",
						"fileSystem": "outputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Multifiles_TGT2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Multifiles_TGT3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Mutlifiles_TGT3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"folderPath": "txt",
						"fileSystem": "outputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Mutlifiles_TGT3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Mutlifiles_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Mutlifiles_SRC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{item().name}",
							"type": "Expression"
						},
						"fileSystem": "inputmultifiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Mutlifiles_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PARENT_SS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PARENT_SS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TableSchema",
						"type": "varchar"
					},
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkColumn",
						"type": "varchar"
					},
					{
						"name": "LastLoadValue",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Watermark_Table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_PARENT_SS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PARENT_SS_MGRT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PARENT_SS_MGRT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "TableSchema",
						"type": "varchar"
					},
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkColumn",
						"type": "varchar"
					},
					{
						"name": "LastLoadValue",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Watermark_Table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_PARENT_SS_MGRT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PARQUET_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outputparquetdata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALES_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALES_CSV_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "csv",
						"fileSystem": "outputmultifiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SALES_CSV_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLSERVER_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "spdemo",
					"table": "Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLSERVER_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SqlTable_Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SqlTable_Parquet1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().Table_Name,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().Table_Name,'/',formatDateTime(utcNow(),'yyyy/MM/dd'))",
							"type": "Expression"
						},
						"fileSystem": "retaildw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SqlTable_Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADF_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service adf to sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_ADF_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_ADF_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ADF_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ADF_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_PARQUET_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_PARQUET_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CHILD_MAX_KEY')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service max key",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_CHILD_MAX_KEY_properties_typeProperties_server')]",
					"database": "[parameters('LS_CHILD_MAX_KEY_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_CHILD_MAX_KEY_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_CHILD_MAX_KEY_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CHILD_SS_MAXVALUE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Child linked service to get water mark max value",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_CHILD_SS_MAXVALUE_properties_typeProperties_server')]",
					"database": "[parameters('LS_CHILD_SS_MAXVALUE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_CHILD_SS_MAXVALUE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_CHILD_SS_MAXVALUE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CPY_CSV_TGT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service copy csv to ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CPY_CSV_TGT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CPY_CSV_TGT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CPY_DATA_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage copy data to ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CPY_DATA_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CPY_DATA_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CPY_DATA_TGT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service copy data target",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CPY_DATA_TGT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CPY_DATA_TGT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CPY_XLS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage XLS to ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CPY_XLS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CPY_XLS_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_FILTER_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_FILTER_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_FILTER_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_FILTER_SALES')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service filter sales",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_FILTER_SALES_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_FILTER_SALES_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_GMD_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service get meta data ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_GMD_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_GMD_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_GMD_SALES')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage sales",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_GMD_SALES_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_GMD_SALES_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_GMD_SWITCH')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service get metadata switch",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_GMD_SWITCH_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_GMD_SWITCH_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LKUP_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_LKUP_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_LKUP_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LKUP_MAXVALUE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage max value",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_LKUP_MAXVALUE_properties_typeProperties_server')]",
					"database": "[parameters('LS_LKUP_MAXVALUE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LKUP_MAXVALUE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LKUP_MAXVALUE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LKUP_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service look up sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_LKUP_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_LKUP_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LKUP_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LKUP_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MAX_WATERMRK_COLMN')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage watermark column",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_MAX_WATERMRK_COLMN_properties_typeProperties_server')]",
					"database": "[parameters('LS_MAX_WATERMRK_COLMN_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_MAX_WATERMRK_COLMN_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_MAX_WATERMRK_COLMN_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MF_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MF_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MF_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MF_TGT1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MF_TGT1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MF_TGT1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MIGRT_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service migrate sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_MIGRT_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_MIGRT_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_MIGRT_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_MIGRT_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Multifiles_TGT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Multifiles_TGT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Multifiles_TGT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Multifiles_TGT1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Multifiles_TGT1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Multifiles_TGT1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Multifiles_TGT2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Multifiles_TGT2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Multifiles_TGT2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Mutlifiles_SRC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service for source multifiles",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Mutlifiles_SRC_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Mutlifiles_SRC_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Mutlifiles_TGT3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Mutlifiles_TGT3_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Mutlifiles_TGT3_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_OnPrem_SqlServer_DW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service on premises sql server datawarehouse",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_OnPrem_SqlServer_DW_properties_typeProperties_server')]",
					"database": "[parameters('LS_OnPrem_SqlServer_DW_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_OnPrem_SqlServer_DW_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_OnPrem_SqlServer_DW_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PARENT_SS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service parent sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_PARENT_SS_properties_typeProperties_server')]",
					"database": "[parameters('LS_PARENT_SS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_PARENT_SS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_PARENT_SS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PARENT_SS_MGRT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service sql server migration to ADLS",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_PARENT_SS_MGRT_properties_typeProperties_server')]",
					"database": "[parameters('LS_PARENT_SS_MGRT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_PARENT_SS_MGRT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_PARENT_SS_MGRT_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SALES_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service CSV ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SALES_CSV_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SALES_CSV_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service sqlserver to adls",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_ADLS_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_ADLS_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_ADLS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_ADLS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_PARQUET_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_MIGRATION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service sql migration",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_MIGRATION_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_MIGRATION_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_MIGRATION_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_MIGRATION_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostIntegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostIntegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sales_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked storage Sales ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Sales_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Sales_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SqlTable_Parquet1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service Parquet",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SqlTable_Parquet1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SqlTable_Parquet1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfhostIntegrationruntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "self host integration run time",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}